<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484711679340-a780t6rq55msukg10p5kr34bkjev7r1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484711679340-a780t6rq55msukg10p5kr34bkjev7r1q</string>
	<key>API_KEY</key>
	<string>AIzaSyBd99JbREndRorDlVd5fcaGRPbc2zSi9UM</string>
	<key>GCM_SENDER_ID</key>
	<string>484711679340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HVA-Software.My-Quotes</string>
	<key>PROJECT_ID</key>
	<string>myquotes-de00a</string>
	<key>STORAGE_BUCKET</key>
	<string>myquotes-de00a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:484711679340:ios:4d74f9c43895c19b</string>
	<key>DATABASE_URL</key>
	<string>https://myquotes-de00a.firebaseio.com</string>
</dict>
</plist>